.header {
    border-radius: 10px;
    margin: 10px 50px 5px 50px ;
    background: rgb(62, 58, 180);
    background: linear-gradient(90deg, rgb(58, 68, 180) 0%, rgba(253,205,29,1) 50%, rgba(252,176,69,1) 100%)
}

.header-text {
    color: darkblue;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.body {
    background-color: seashell;
}

.footer {
    align-items: flex-end;
}

.blink {
    border: red;
    background-color: rgba(0, 82, 205, 0.69);
    animation: blinker 1.5s linear infinite;
    color: #ffcc00;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0.65;
    }
}

th, td {
    text-align: center;
   align-content: center;
    justify-content: space-evenly;
}





