.header {
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,205,29,1) 50%, rgba(252,176,69,1) 100%)
}

.header-text {
    color: darkblue;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.body {
    background-color: seashell;
}

.footer {
    align-items: flex-end;
}

.hide {
    display: none;
}



