<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title  th:text="(${bet})? 'Dodano zakład' : 'Wyszukaj zaklad'"></title>
</head>
<body>
<main layout:fragment="content">
    <div class="container">
        <div class="d-flex justify-content-center col-xs-12 text-center">
            <h3 style="color: red" th:text="${notFound}"></h3>
        </div>
        <div th:unless="${bet}" class="d-flex justify-content-center col-xs-12 text-center">
            <form action="/find_bet?betId=" method="get" th:object="${Long}">
                <label for="betId" class="form-label text-center"></label>
                <input id="betId" name="betId" type="number" step="1">
                <button type="submit" class="btn btn-success text-center">Wyszukaj zakład</button>
            </form>
        </div>
        <th:block th:if="${bet != null}" th:object="${bet}">
            <div class="d-flex justify-content-center col-xs-12 text-center">
                <div>
                    <h2 class="text-center" style="color: green"> Zakład dodany prawidłowo</h2>
                    <br>
                    <div>
                        <TABLE class="table table-secondary">
                            <tr>
                                <th class=" w-50" colspan="4" th:text="|Numer kuponu: ${bet.betId}       |"></th>
                                <th colspan="4"
                                    th:text="(${!bet.notActive}) ? 'Kupon: aktywny' : 'Kupon: zakończony'"></th>
                            </tr>
                            <th:block th:each="game: ${bet.betGames}">
                                <tr>
                                    <td colspan="9" th:text="|${game.gameTitle} Stawka: ${game.winRate}|"></td>
                                </tr>
                            </th:block>
                            <tr>
                                <th colspan="8" th:text="|Całkowity kurs dla zakładu: ${bet.getRate()}|"></th>
                            </tr>
                            <tr>
                                <th class=" w-50" colspan="4" th:text="|Stawka: ${bet.betMoney}|"></th>
                                <th:block th:unless="${bet.notActive}">
                                    <th colspan="4" th:if="${bet.moneyToWin > 0}"
                                        th:text="|Do wygrania: ${bet.moneyToWin}|"></th>
                                </th:block>
                                <th:block th:if="${bet.notActive}">
                                    <th colspan="4" th:if="${bet.moneyToWin > 0}"
                                        th:text="|Wygrana: ${bet.moneyToWin}|"></th>
                                    <th colspan="4" th:if="${bet.moneyToWin == 0}">Zakład przegrany</th>
                                </th:block>
                            </tr>
                        </TABLE>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</main>
</body>
</html>

