<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="header">
    <div class="d-flex justify-content-end">
        <a href="/" class="link-opacity-50 p-2">Główna strona</a>
        <a href="/game_list" class="link-opacity-50 p-2">Mecze </a>
        <a href="/bet_list" class="link-opacity-50 p-2">Zakłady</a>
    </div>
    <div class="header">
        <h1 class="header-text" >JAVA BET NAJLEPSZE ZAKŁADY</h1>
    </div>

</div>
<div  th:fragment="footer">
    <h5 class="footer "> Wszelkie Prawa zastrzeżone &copy;</h5>
</div>


</body>
</html>