<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>

</head>
<body>
<main layout:fragment="content">

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Gospodarze</th>
                <th>Goście</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</main>
</body>
</html>