<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head >
    <meta charset="UTF-8">
    <title>Layout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css"/>
    <script th:inline="javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js">
        function uncheckRadio() {
            const radio = document.getElementsByName('options-outlined');
            radio.checked= false;
        }

        $('input[name=options-outlined]').change(function(){
            $('button-submit').submit();
        });
    </script>


</head>
    <body>
        <div class="container">
            <header th:replace="~{fragments::header}"></header>
            <main layout:fragment="content"></main>
        </div>
    </body>
<footer th:replace="~{fragments::footer}"></footer>

</html>